Django==3.1.13	
asgiref==3.2.7			
django-bootstrap4==2.0.1	
importlib-metadata==1.6.0	
pip==19.0.3	
pytz==2020.1	
setuptools==40.8.0	
soupsieve==2.0.1	
sqlparse==0.3.1	
zipp==3.1.0
bcrypt
djando[argon2]	
