{% extends 'base.html' %}
{% load bootstrap4 %)

{% block content %}

    <div class="app-main">
        <div class="wrapper">
            <div class="page">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>

                    {% endfor %}
                {% endif %}
                <div class="container">
                    <div class="jumbotron">
                        <h1>Invoice Details</h1>
                        {% for user in users %}
                            <h2>Welcome {{ user.username }}</h2>
                        {% endfor %}
                    </div>
                </div>

                <div class="page-inner">
                    <div class="container">
                        {% block section %}
                        <div class="row">
                            <div class="col-4 ">

                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="submit">Upload</button>
                                </form>

                            </div>


                        </div>
                        {% endblock %}
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}