{% extends 'invoice_app/invoice_page.html' %}
{% load bootstrap4 %}
{% block section %}
<div class="row">
    <div class="col-4 ">

        <form method="POST" class="form">
             {% csrf_token %}
             {% bootstrap_form form %}
             <input type="submit" class="btn btn-default" value="Submit">
        </form>
    </div>
    <div class="col-8">
        <iframe   src="{{ MEDIA_URL }}{{ pdf.uploaded_pdf.url }}" type="application/pdf" width="100%" height="600px" ></iframe>
    </div>

</div>

{% endblock %}